
<div class="container">
        <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"> #testTask </a>
              </nav>
    <div class="button_wrapper">
        <button type="button" 
                class="btn btn-primary btn-lg btn-block"
                routerLink="/blocks" 
            >Blocks
        </button>
        <button type="button" 
                class="btn btn-primary btn-lg btn-block"
                routerLink="/table"
            >Table
        </button>
    </div>

</div>


<router-outlet></router-outlet>
